/* ******************************************************* */
/* ************** Les éléments du caroussel ************** */
/* ******************************************************* */

/* Boite à outils */
.project-toolbar {
  margin : 1em;
  text-align: center;
  font-size : 1.5em;
}

/*
*  Embarquer figure et .slider-navigation
*  dans un élément en position relative : .slider-layout
*    -> les éléments enfants seront en position absolute afin d'apparaître sur la photo :
*
*       1 - liens précédent et suivant (.next,.prev)
*       2 - figcaption (.slider-legend )
*
*    -> la hauteur de .slider-layout sera donc celle des photos
*/

.slider-layout {
  position : relative;
}

.slider-figure {
  display : none;
  margin : 0 6em;
  padding : 1rem;
  border-radius : 1rem;
  background : rgba(255,255,255,0.8);
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
  will-change: transform;
}

.slider-figure.active {
  display : block;
}

.slider-picture {
  border-radius : 1rem;
}

.slider-legend {
  position : absolute;
  left : 1rem; right :1rem; top : 1rem;
  padding : 1rem;
  border-radius : 1rem 1rem 0 0;
  background : rgba(255, 255, 255, 0.5);
  font-size : 1.6em;
  font-weight : bold;
}

.next, .prev {
  display: inline-block;
  width : 2em;
  height : 2em;
  line-height : 2em;
  position : absolute;
  top : 50%;
  transform : translateY(-50%);
  text-align: center;
  font-size : 3em;
  color : white;
}

.next:hover,
.prev:hover {
  background-color : rgba(255,255,255,0.5);
  color : #dd5735;
  text-decoration: none;
}

.prev {
  left : 0;
}

.next {
  right : 0;
}

/**
 * Bonus 2 - Miniatures
 */
.slider-thumbnails {
  padding : 0;
  text-align: center;
}

.item-thumbnail {
  display : inline-block;
  width : 80px;
  height : 80px;
  margin : 5px;
  border : 5px solid rgba(255,255,255,0.6);
  border-radius : 5px;
  overflow: hidden;
  cursor : pointer;
  cursor : zoom-in;
}

.thumbnail {
  height : 100%;
  max-width : max-content;
  filter : grayscale(80%);
  opacity : 0.5;
}

.thumbnail:hover,
.thumbnail.selected {
  filter : grayscale(0);
  opacity : 1;
}
